.hide {
    display: none;
}

.rated {
    border: solid;
    border-radius: 5px;
    color: grey;
    border-color: grey;
    margin: 10px 0 30px 0;
    max-width: fit-content;
    max-height: fit-content;
    padding: 0;
}

#rated {
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 700; 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#postersection {
    margin-top: 30px;
}

#infoSection {
    margin-top: 30px;
}

#movietitle {
    font-size: 300%;
    font-weight: 700;
    display: inline;
}

#releaseyear{
    margin-left: 10px;
    font-size: 290%;
    color: grey;
}

li:hover{
    text-decoration-line: underline;
    cursor: pointer;
    color:blue;
}